services:
  app:
    build:
      context: .
      args:
        NODE_VERSION: "${NODE_VERSION}"
    image: ${NAME}-app:latest
    container_name: ${NAME}-app
    env_file:
      - .env
    working_dir: /workspace
    volumes:
      - ./workspace:/workspace:rw
    networks:
      - ${TRAEFIK_NETWORK}
    labels:
      - "traefik.enable=true"

      # PROD: <name>.${DOMAIN_BASE} -> :3000
      - "traefik.http.routers.${NAME}.rule=Host(`${NAME}.${DOMAIN_BASE}`)"
      - "traefik.http.routers.${NAME}.entrypoints=web"
      - "traefik.http.routers.${NAME}.priority=10"
      - "traefik.http.routers.${NAME}.middlewares=errpages@docker"
      - "traefik.http.routers.${NAME}.service=${NAME}"
      - "traefik.http.services.${NAME}.loadbalancer.server.port=3000"

      # DEV: dev-<name>.${DOMAIN_BASE} -> :8000
      - "traefik.http.routers.dev-${NAME}.rule=Host(`dev-${NAME}.${DOMAIN_BASE}`)"
      - "traefik.http.routers.dev-${NAME}.entrypoints=web"
      - "traefik.http.routers.dev-${NAME}.priority=10"
      - "traefik.http.routers.dev-${NAME}.middlewares=errpages@docker"
      - "traefik.http.routers.dev-${NAME}.service=dev-${NAME}"
      - "traefik.http.services.dev-${NAME}.loadbalancer.server.port=8000"

      # VANILLA: vanilla-<name>.${DOMAIN_BASE} -> :9000
      - "traefik.http.routers.vanilla-${NAME}.rule=Host(`vanilla-${NAME}.${DOMAIN_BASE}`)"
      - "traefik.http.routers.vanilla-${NAME}.entrypoints=web"
      - "traefik.http.routers.vanilla-${NAME}.priority=10"
      - "traefik.http.routers.vanilla-${NAME}.middlewares=errpages@docker"
      - "traefik.http.routers.vanilla-${NAME}.service=vanilla-${NAME}"
      - "traefik.http.services.vanilla-${NAME}.loadbalancer.server.port=9000"

    read_only: false
    cap_drop: [ "ALL" ]
    security_opt: [ "no-new-privileges:true" ]
    mem_limit: ${MEM_LIMIT}
    cpus: "${CPU_LIMIT}"
    restart: unless-stopped

networks:
  ${TRAEFIK_NETWORK}:
    external: true
